h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.recipe-card {
  width: 450px;
  margin: 10px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
}

.recipe-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.recipe-header h3 {
  margin: 0;
  font-size: 25px;
}

.recipe-header a {
  text-decoration: none;
  color: black;
}

.recipe-header p {  
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.recipe-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-body p {
  font-size: 17px;
  font-weight: 500;
  color: black;
}
