
table {
  width: 80%;
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto 20px;
}

thead {
  background-color: #b89164;
  color: #fff;
}

th,
td {
  padding: 12px;
  text-align: left;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f0f0f0;
}
